<header id="header">
    <div class="grid flush">
        <div class="g12">
            <section class="nav">
                <div class="logo">
                    <h1>{{ site.title }}</h1>
                </div>
                <nav class="menu">
                    <ul class="hide(phone) hide(tablet)">
                        <li class="{% if page.menu == 'home' %}current{% endif %} fa fa-home"><a href="{{ site.github.url }}/">Home</a></li>
                        <li class="{% if page.menu == 'blog' %}current{% endif %} fa fa-comments"><a href="{{ site.github.url }}/blog">Blog</a></li>
                        <li class="{% if page.menu == 'manual' %}current{% endif %} fa fa-question-circle"><a href="{{ site.github.url }}/docs/manual">Manual</a></li>
                        <li class="{% if page.menu == 'api' %}current{% endif %} fa fa-code"><a href="{{ site.github.url }}/docs/api">API</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</header>
